.container {
  position: fixed;
  right: 50px;
  top: 70px;

  padding: 10px;
  width: 200px;

  text-align: center;
  color: white;
  background-color: orangered;
  border-radius: 5px;
  z-index: 1000;
}