//Сбросы стилей
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: HelveticaNeueCyr, Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: $bg-color;
  padding: 0;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  outline: none;
  background-color: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

%text-throw {
  margin-top: 0;
  margin-bottom: 0;
}
%list-throw {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
%link-throw {
  display: block;
  text-decoration: none;
}
%button {
  width: 52px;
  height: 52px;

  color: white;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.02em;

  border-radius: 50%;
  outline: none;
  border: none;
  background-color: $button-color;
  box-shadow: $button-shadow;
}

%input {
  display: block;
  color: $hover-color;
  border: 0;
  border-bottom: 1px solid $hover-color;
  outline: none;
}

//Стили контейнера
%container-styles {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  // background-color: $bg-color;
  @media screen and (max-width: 767px) {
      max-width: 450px;
  }
  @media screen and (min-width: 768px) {
      max-width: 768px;
      padding-left: 49px;
      padding-right: 49px;
  }
  @media screen and (min-width: 1280px) {
      max-width: 1280px;
      padding-left: 71px;
      padding-right: 71px;
  }
}