//Сбросы стилей

%text-throw {
  margin-top: 0;
  margin-bottom: 0;
}
%list-throw {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
%link-throw {
  display: block;
  text-decoration: none;
}
%button {
  width: 52px;
  height: 52px;

  color: white;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.02em;

  border-radius: 50%;
  outline: none;
  border: none;
  background-color: $button-color;
  box-shadow: $button-shadow;
}
%input {
  display: block;
  color: $hover-color;
  border: 0;
  border-bottom: 1px solid $hover-color;
  outline: none;
}

//Стили контейнера

%container-styles {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 767px) {
    max-width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}