$main-color: #242A37;
$card-bg-color: #15395A;
$hover-color: #00D7FF;
$bg-color: #F2F3F7;
$text-color: #282828;
$secondary-text: #B9C3C8;
$bold-text: #000000;
$white-color: #FFFFFF;
$button-color: #FF851C;
$button-shadow: 0px 0px 4px 4px rgba(255, 133, 28, 0.2);
$card-shadow: -3px -4px 4px rgba(21, 57, 90, 0.03), 3px 4px 4px rgba(21, 57, 90, 0.03);
$cancel-button: #24D40C;
$delete-button: #DB0837;

//Цвета категорий

$stuff-color: #B9C3C8;
$family-color: #FFE6D3;
$healt-color: #CDF7FF;
$learning-color: #FFF6C0;
$leisure-color: #F8D2FF;
$work-color: #D3F6CE;
$active-color: #B9C3C8;

//Точки перелома

$tablet: 768px;
$desktop: 1280px;